<div class="row">
  <div class="col-md-4">
    <% if product.image.attached? %>
      <%= image_tag product.image %>
    <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2016/03/27/07/12/apple-1282241_960_720.jpg" %>
    <% end %>
  </div>
  <div class="col-md-8">
   <h3 class="m-0"><%= link_to product.name, product_url(product) %></h3> 
   <p class="m-0"><%= number_to_currency(product.price) %></p> 
   <p class="m-2"><%= truncate(product.description, length: 120) %></p> 
  </div>
</div>
<hr>

